name: documentation

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v3
      - run: git config user.name 'github-actions[bot]' && git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Install deps
        run: python3 -m pip install -U pip wheel && python3 -m pip install -Ur requirements.txt 
      - name: Make build folder 
        run:  find . -not -name 'docs' -not -name '.nojekyll' -not -name '.' -not -name '.git*' -not -name '.venv*' -maxdepth 1 -exec rm -rf {} +
      - name: Render docs
        run: sphinx-build -M html docs/source/ ./ -E -d .doctree
      - name: Cleanup
        run: cp -r docs/build/html/* ./ && touch .nojekyll && rm -rf .venv
      - name: Commit and push to gh-pages
        run: 
          git checkout -b gh-pages &&
          git add . &&
          git commit -m "Deploy HTML files to gh-pages" &&
          git push --force origin gh-pages


